/*Global CSS*/

.jumbotron {
  padding-top: 25px;
  padding-bottom: 25px;
}

h1,
.jumbotron h1 {
  font-size: 48px;
}

.col-center {
  clear: both;
  float: none;
  margin: auto;
}

.table-calc tr{
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.coord-val {
  width: 45px;
}

.right {
  float: right;
}

.result-val{
  margin-bottom: 5px;  
}
